파이썬으로 데이터베이스 연동하여 사용
mariaDB, localDB(SQLite), mongoDB
## 1. 파이썬과 MariaDB 연동
    파이썬과 MariaDB를 연결해주는 모듈. 파이썬과 DB를 연결하는 중간 단계
    - pip install mysqlclient
    - pip install PyMySQL
    - DB 사용 끝났으면 꼭 연결 해제하기. close()
    
    
    conn= MySQLdb.connect(**config) 
    cur= conn.cursor()
    cur.execute(sql)
    conn.close()
https://blog.naver.com/choongchoongchoong/222618411411

In [3]:
# 파이썬과 DB를 연결하는 중간 단계
# mysqlclient

import MySQLdb

conn= MySQLdb.connect(host='127.0.0.1', user='root', password='1111', database='testdb')
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 000002738896CD50>

In [4]:
import pymysql

conn= pymysql.connect(host='127.0.0.1', user='root', password='1111', database='testdb')
print(conn)
conn.close()

<pymysql.connections.Connection object at 0x0000027389A3F100>

####  유지보수를 위한 DB 변수처리

In [5]:
config={'host':'127.0.0.1', 'user':'root', 'password':'1111', 'database':'testdb'}
conn= MySQLdb.connect(**config)        #dict로 받기위해 **
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 000002738896CD50>

### (1) SELECT

In [15]:
############################TTTTEEEESSSSSSTTTTTTTT
conn= MySQLdb.connect(**config)
cur= conn.cursor()                      #cursor가 쿼리 실행해주고 결과값 가져옴

t='tbltest'
cur.execute(f'create table if not exists {t}(id int, name varchar(10))')
conn.commit()

print(cur.execute(f'select * from {t}'))

cur.execute('show tables')
for i in cur:
    print(i)

5
('bonus',)
('dept',)
('emp',)
('member',)
('post',)
('salgrade',)
('suppliers',)
('tbla',)
('tblb',)
('tblbook',)
('tblc',)
('tblexam',)
('tbltest',)
('test',)
('tt',)
('tt1',)
('vw_test',)

In [6]:
config={'host':'127.0.0.1', 'user':'root', 'password':'1111', 'database':'testdb'}
conn= MySQLdb.connect(**config)    #db의 주소

sql= 'select * from emp'
cur= conn.cursor()                      #cursor가 쿼리 실행해주고 결과값 가져옴
cur.execute(sql)                   #execute로 원하는 쿼리실행
print(cur)                   #쿼리의 결과값 임시로 저장되어있음. DB와 연결 끊어지면 다 날라감
result =[i for i in cur]

conn.close()         # 자료 가져왔으면 DB연결 끊고 파이썬 작업

print(result)

<MySQLdb.cursors.Cursor object at 0x00000273898D0A00>
[(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20), (7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30), (7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30), (7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20), (7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30), (7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30), (7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10), (7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1987, 4, 19, 0, 0), 3000.0, None, 20), (7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10), (7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30), (7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1987, 5, 23, 0, 0), 1100.0, None, 20), (7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30), (7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20), (7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)]

### (2) INSERT
    conn.commit() 처리 꼭 해야함ㅡㅡ

In [37]:
cone=None      #지역변수때문?

try: 
    conn= MySQLdb.connect(**config) 

    sql='''CREATE TABLE IF NOT EXISTS tbltest(
                empno int,
                ename varchar(10),
                sal int,
                job varchar(10))
    '''
    cur= conn.cursor()
    cur.execute(sql)

    sql= "INSERT INTO tbltest VALUES(1,'scott',5000,'manager')"
    cur.execute(sql)
    conn.commit()        #확실하게 처리하기 위해서

except Exception as e:     #Exception으로 전체 에러 확인 가능
    print(e)

finally:
    if conn != None:
        conn.close()

In [51]:
try:
    conn= MySQLdb.connect(**config) 
    
    empno=2
    ename='miller'
    sal= 1000
    job='clerk'
    
#     sql= f"insert into tbltest values({empno},'{ename}',{sal},'{job}')"    # 아 sql은 하나의 문자열로 넘겨야한다
#     cur.execute(sql)    
    sql='insert into tbltest values(%s,%s,%s,%s)'   # DB에 자동으로 맞는 자료형으로 바뀜
    sql_data= (str(empno),ename, str(sal),job)
    
    cur=conn.cursor()
    print(sql)
    #"INSERT INTO tbltest VALUES(1,'scott',5000,'manager')" 이런식으로 출력되야함

    cur.execute(sql, sql_data)
    conn.commit()
except Exception as e:
    print(e)

insert into tbltest values(2,'miller',1000,'clerk')

### cursor 객체의 fetchall(), fetchmany(), fetchone()
    fetch: 가져오다
    default는 fetchall
    LIMIT와 같은 역할

In [56]:
conn= None

try:
    conn=MySQLdb.connect(**config)
    cur=conn.cursor()
    
    cur.execute('select * from emp')
    
#     for i in cur.fetchall():
#         print(i)
        
    for i in cur.fetchone():          # LIMIT와 같은 역할. 원하는 개수만 가져오기
        print(i)
    
except Exception as e:
    print(e)
finally:
    if conn != None:
        conn.close()

7369
SMITH
CLERK
7902
1980-12-17 00:00:00
800.0
None
20

### (4)DictCursor
    필드 골라오기 = SELECT

In [62]:
conn= None

try:
    conn=MySQLdb.connect(**config)
    cur=conn.cursor(MySQLdb.cursors.DictCursor)   #DictCursor
    
    cur.execute('select * from emp')
        
    for i in cur.fetchall():       
        print(i['EMPNO'],i['ENAME'],i['SAL'])   #꼭 대문자로 써야함. 원하는 필드 가져오기
    
except Exception as e:
    print(e)
finally:
    if conn != None:
        conn.close()

7369 SMITH 800.0
7499 ALLEN 1600.0
7521 WARD 1250.0
7566 JONES 2975.0
7654 MARTIN 1250.0
7698 BLAKE 2850.0
7782 CLARK 2450.0
7788 SCOTT 3000.0
7839 KING 5000.0
7844 TURNER 1500.0
7876 ADAMS 1100.0
7900 JAMES 950.0
7902 FORD 3000.0
7934 MILLER 1300.0

### csv파일을 DB에 저장
    먼저 DB에 같은 형식의 테이블 존재해야한다. 
    csv에 특화된 파일 읽기

In [71]:
import csv #csv모듈의 reader

file= csv.reader(open('data/input.csv','r'))

print(next(file))    #readline처럼 ,로 구분해서 읽어들임
print(next(file))

['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '500000', '2014-01-20']

In [67]:
conn= None

try:
    conn=MySQLdb.connect(**config)
    cur=conn.cursor()
    
    file= csv.reader(open('data/input.csv','r'))   # csv.reader
    next(file)      # 한줄 넘기고 넣기
    for i in file:      #for문 자체가 순서대로 넘기는 역할이라 next 생략 가능
        cur.execute('insert into suppliers values(%s,%s,%s,%s,%s)',i)   #리스트로 묶인게 순서대로 매핑된다
    
    conn.commit()
except Exception as e:
    print(e)
finally:
    if conn != None:
        conn.close()

### (6) DB의 정보를 파일로 저장

In [74]:
import csv
conn=None

try:
    conn=MySQLdb.connect(**config)
    cur=conn.cursor()
    
    cur.execute('select * from suppliers where cost>500000')
    
    file= csv.writer(open('data/output.csv','w'))   # csv.writer 자동으로 한줄씩 , 붙여서 파일 작성
    
    file.writerow(['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date'])  # 한 줄 작성
    
    for i in cur:
        file.writerow(i)
        
    conn.commit()
except Exception as e:
    print(e)
finally:
    if conn != None:
        conn.close()

## 2. 파이썬과 SQLite 연동
    네트워크로 연결된 공용DB가 아닌 한 곳에서만(내 프로그램에서만) 사용하는 DB
    mariaDB는 여러사람이 접근 가능
###    (1) 로컬로 사용할 수 있는 DBMS (localDB 종류)
        Access
        SQLite
        Microsoft SQL Server Compact Edition
        Firebird Embeded Server
        H2
        HSQL
        Apache Derby
        ...
### (2) SQLite 특징
        파일기반의 DBMS. 저메모리, 빠른 처리속도
        그대로 복사해서 다른 컴퓨터로 이동 가능
        오픈소스
        스마트폰에 내장된 DBMS
        파이썬에 내장
        표준 SQL 지원
### (3) 제한 사항
        컬럼을 삭제하거나 변경 불가
        Left outer join만 지원
        읽기전용 뷰만 지원
### (4) 공식 사이트
http://
### (5) 클라이언트 툴
http://sqliteexpert.com

In [1]:
import sqlite3

In [2]:
print(sqlite3.version)    # sqlite3 모듈의 버전
print(sqlite3.sqlite_version)      #sqlite DB의 버전

2.6.0
3.39.3

In [4]:
conn= sqlite3.connect('data/sqlitetest.db')  #파일 기반의 DB 생성
print(conn)
conn.close()

<sqlite3.Connection object at 0x0000019FC40B1990>

### SELECT

In [5]:
conn= sqlite3.connect('data/sqlitetest.db')
cur= conn.cursor()

cur.execute('select * from emp')
for i in cur:
    print(i)

conn.close()

(7369, 'SMITH', 'CLERK', 7902, '1980-12-17 00:00:00', 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, '1981-02-20 00:00:00', 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, '1981-02-22 00:00:00', 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, '1981-04-02 00:00:00', 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, '1981-09-28 00:00:00', 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, '1981-05-01 00:00:00', 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, '1981-06-09 00:00:00', 2450.0, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, '1987-04-19 00:00:00', 3000.0, None, 20)
(7839, 'KING', 'PRESIDENT', None, '1981-11-17 00:00:00', 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, '1981-09-08 00:00:00', 1500.0, 0.0, 30)
(7876, 'ADAMS', 'CLERK', 7788, '1987-05-23 00:00:00', 1100.0, None, 20)
(7900, 'JAMES', 'CLERK', 7698, '1981-12-03 00:00:00', 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, '1981-12-03 00:00:00', 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, '1982-01-23 00:00:00', 1300.0, None, 10)

#### 자동으로 db와 테이블 생성

    없으면 생성하고 있으면 연결한다

In [7]:
conn= sqlite3.connect('data/auto.db')
cur= conn.cursor()
cur.execute('create table if not exists tbltest(id int, name varchar(10))')
conn.commit()

cur.execute('insert into tbltest values(1,"홍길동")')
conn.commit()

cur.execute('select * from tbltest')
for row in cur:
    print(row)
    
conn.close()

(1, '홍길동')
(1, '홍길동')

#### csv파일을 읽어서 db에 저장

In [8]:
import csv

In [9]:
sql="""
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);
"""
conn= sqlite3.connect('data/auto.db')
cur= conn.cursor()
cur.execute(sql)
conn.commit()
conn.close()

In [18]:
conn= sqlite3.connect('data/auto.db')
cur= conn.cursor()

# 테이블 조회.      show tables;는 표준sql 아님
cur.execute('select name from sqlite_master where type="table"')
for i in cur:
    print(i)
    
# 파일 불러오기
file= csv.reader(open('data/input.csv'))
# for i in file:
#     print(i)
next(file)
for row in file:
    cur.execute('insert into suppliers values(?,?,?,?,?)',row)     #sqlite에서는 %대신 ?

conn.commit()

conn.close()

('tbltest',)
('suppliers',)

### (6) Memory DB
    파일대신 메모리에 저장하면 지속성은 없지만 속도가 빠르다. 
    용량 제한 존재
    한개만 존재하므로 db이름을 넣어 줄 필요 없음

In [19]:
conn= sqlite3.connect(':memory:')     # 메모리에 db를 넣겠다는 뜻
cur= conn.cursor()

cur.execute('create table phonebook(name varchar(10), phonenum text)')
cur.execute('insert into phonebook values(?,?)',('tom','010-1234-1234'))

In [27]:
cur.execute('select * from phonebook')
for i in cur:
    print(i)

('tom', '010-1234-1234')
('been', '010-4567-4567')
('na', '010-5678-4567')
('jane', '010-111-111')
('jerry', '010-222-222')
('marry', '010-333-333')

In [24]:
# 입력 데이터를 변수명으로 처리
# 변수에는 : 붙이기
cur.execute("insert into phonebook values(:vName, :vPhone)",{'vPhone':'010-5678-4567', 'vName':'na'})

#### 여러개의 데이터를 한번에 입력

In [26]:
datalist=(('jane','010-111-111'),('jerry','010-222-222'),('marry','010-333-333'))

cur.executemany('insert into phonebook values(?,?)',datalist)     #data 개수만큼 execute 실행

### (7) 스크립트 작업
    DML을 따로 저장(create, insert, drop)

In [30]:
# 지금까지 작업을 스크립트로 저장

file= open('data/dump.sql','w')

for line in conn.iterdump():
    print(line)
    file.write(line+'\n')
    
file.close()
# conn.close()   닫으면 모든 작업 사라짐

BEGIN TRANSACTION;
CREATE TABLE phonebook(name varchar(10), phonenum text);
INSERT INTO "phonebook" VALUES('tom','010-1234-1234');
INSERT INTO "phonebook" VALUES('been','010-4567-4567');
INSERT INTO "phonebook" VALUES('na','010-5678-4567');
INSERT INTO "phonebook" VALUES('jane','010-111-111');
INSERT INTO "phonebook" VALUES('jerry','010-222-222');
INSERT INTO "phonebook" VALUES('marry','010-333-333');
COMMIT;

In [36]:
# 스크립트 불러오기

conn= sqlite3.connect('data/auto.db')
cur= conn.cursor()

file= open('data/dump.sql')
script= file.read()
# print(script)
cur.executescript(script)
# cur.execute('select name from sqlite_master where type="table"')
# for i in cur:
#     print(i)
conn.close()

('tbltest',)
('suppliers',)
('phonebook',)

## 3. 파이썬과 MongoDB의 연동
    pip install pymongo

In [40]:
# import pymongo
from pymongo import MongoClient

### (1) 서버 연결

In [38]:
conn= pymongo.MongoClient('127.0.0.1', 27017)
print(conn)
conn.close()

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

### (2) DB연결

In [41]:
conn= MongoClient('127.0.0.1', 27017)
# dbname= conn.get_database('testdb')
# dbname= conn.testdb
dbname= conn['testdb']      #mongodb가 dict타입이라 가능
print(dbname)
conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb')

### (3) Collection 연결           (테이블)

In [42]:
conn= MongoClient('127.0.0.1', 27017)
dbname= conn.testdb

# collect= dbname['articles']
collect= dbname.articles
print(collect)

conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'testdb'), 'articles')

### (4) 데이터입력(1개)

In [ ]:
conn= MongoClient('127.0.0.1', 27017)
dbname= conn.testdb
collect= dbname.articles

In [46]:
# pymongo의 함수
conn= MongoClient('127.0.0.1', 27017)
dbname= conn.testdb
collect= dbname.articles

for i in collect.find():     #mongodb의 find 아님. 모듈의 함수
    print(i)
    
print(collect.count_documents({}))   #documents 개수

{'_id': ObjectId('63edc47d51489e6da38140b0'), 'title': 'article01', 'content': 'content01', 'writer': 'Tom', 'name': {'first': 'gil dong', 'last': 'hong'}, 'language': ['korean', 'english', 'french'], 'likes': 0.0, 'comment': []}
{'_id': ObjectId('63edc47d51489e6da38140b1'), 'title': 'article02', 'content': 'content02', 'writer': 'Alpha', 'name': {'first': 'j. k.', 'last': 'tiger'}, 'language': ['korean', 'chinese'], 'likes': 23.0, 'comment': [{'name': 'Bravo', 'message': 'Hey man!'}]}
{'_id': ObjectId('63edc47d51489e6da38140b2'), 'title': 'article03', 'content': 'content03', 'writer': 'Bravo', 'likes': 40.0, 'comment': [{'name': 'Charlie', 'message': 'Hey man!'}, {'name': 'Delta', 'message': 'Hey man!'}]}
3
4

In [ ]:
data={'author':'Mike','text':'my','tag':['mongo','python']}
collect.insert_one(data)     # 데이터 1개 추가

print(collect.count_documents({}))

In [51]:
data={'author':'Tom','text':'my','tag':['mongo','python']}
post_id=collect.insert_one(data).inserted_id     # 생성된 데이터의 id 반환
print(post_id)
print(collect.count_documents({}))

6406b4efdaed393f3b305f71
16

In [ ]:
conn.close()

### (5) 데이터 여러개 입력

In [50]:
conn= MongoClient('127.0.0.1', 27017)
dbname= conn.testdb
collect= dbname.people

datas=[{'number':i} for i in range(10)]
print(datas)

# collect.insert_many(datas)
collect.insert_many([{'number':i} for i in range(10)])
print(collect.count_documents({}))

[{'number': 0}, {'number': 1}, {'number': 2}, {'number': 3}, {'number': 4}, {'number': 5}, {'number': 6}, {'number': 7}, {'number': 8}, {'number': 9}]
15

In [54]:
conn.close()

### (6) 조회 기능

In [66]:
conn= MongoClient('127.0.0.1', 27017)
dbname= conn.testdb
collect= dbname.people

# for i in collect.find():   전체 조회
#     print(i)
    
# for i in collect.find({'age':20}):    # 나이가 20인 사람 조회
#     print(i)
    
# for i in collect.find({'age':{"$gte":23}}):      # 나이가 23이상인 사람 조회. 키는 쌍따옴표
#     print(i)
    
print(collect.find_one({'age':{'$gte':23}}))   # 결과 중 하나만 가져올 때

conn.close()

{'_id': ObjectId('63eef677f7dfca154918452e'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}

### (7) 수정 기능

In [72]:
conn= MongoClient('127.0.0.1', 27017)
dbname= conn.testdb
collect= dbname.people

collect.update_one({'name':'David'},{'$set':{'age':200}})

print(collect.find_one({'name':'David'}))
conn.close()

{'_id': ObjectId('63eef677f7dfca154918452f'), 'name': 'David', 'age': 200, 'score': 20.0}