## 1. 변수(variable) 

- 임시 기억(저장) 장소(공간)

## 2. 변수의 특징

- 묵시적 선언
- 동적 바인딩
- iummutable(불변성)

### 1) int, float

In [2]:
i= 10
print(type(i))

i= 3.14
print(type(i))

<class 'int'>
<class 'float'>

### 2) str

In [7]:
# 문자열 저장. '', "" 상관 없음

i= '10'
print(type(i))

i= '제 이름은 "홍길동"입니다'
print(i)

i= '''안녕하세요. 
만나서 반갑습니다.
'''
print(i)

<class 'str'>
제 이름은 "홍길동"입니다
안녕하세요.
만나서 반갑습니다.

In [14]:
# 특수문자(제어문자): \

a= '이것은 파이썬입니다. \n\n\n열심히 공부합시다.'
print(a)

a= '이것은 파이썬입니다. \t열심히 공부합시다.'
print(a)

# escape \: \\
a= '\\t는 탭키 기능입니다.'
print(a)

print('\'제 이름은 "홍길동"입니다\'')

# \를 줄바꿈의 용도로 사용 (파이썬 한정)
a= '2 + 10 \
- 5'
print(a)

이것은 파이썬입니다.


열심히 공부합시다.
이것은 파이썬입니다. 	열심히 공부합시다.
\t는 탭키 기능입니다.
'제 이름은 "홍길동"입니다'
2 + 10 - 5

In [4]:
# 문자열 연결

a= 'apple'
b= ' is'
c= ' red'
print(a + b + c)
print(a, b, c) # 자동 띄어쓰기

apple is red
apple  is  red

In [5]:
# 문자열 반복

print(a * 3)

appleappleapple

In [6]:
# 문자열 길이

print(len(a))
print(len(b))
print(len(c))

5
3
4

In [9]:
# 인덱싱(indexing): 원하는 문자에 접근할 수 있는 방법을 제공

a= 'Life is too short'

print(a)
print(a[3], a[10])

print(a[len(a)-1])
print(a[-1])   #뒤에서부터 접근

Life is too short
e o
t
t

In [12]:
# 슬라이싱(Slicing) -> [시작위치 : 끝위치+1 : 간격]          리스트로 반환

print(a[0:6])   # 간격이 1 일때 생략가능
print(a[ :6])   # 시작위치 0 일때 생략가능
print(a[ : ])   # 전체 문자열
print(a[11:-1])
print(a[ : :2])

Life i
Life i
Life is too short
 shor
Lf stosot

In [1]:
# 문자열 포맷팅: %, format(), f'~~' p.46

# %이용
print('현재 온도는 %d도 입니다' %18)
print('현재 온도는 %d도 입니다. 오늘 날씨는 %s입니다.' %(18,'맑음'))

print('나눗셈의 결과: %d %c %d = %.2f' %(3, '/', 5, (3/5)))

# 문자열 함수 format() 이용. 문자열.format(). 위치 지정 가능. 변수명으로 지정 가능
print('나눗셈의 결과: {0} {1} {2} = {3}'.format(3, '/', 5, (3/5)))
print('나눗셈의 결과: {0} {1} {2} = {3}'.format(3, '/', 5, (3/5)))

# 공간 지정 {index: 공간} :*>  *로 빈칸 채우고 오른쪽정렬 :.2f 소수점 둘째자리까지
print('{4:*>10}의 결과: {0} {1} {2} = {3:.2f}'.format(3, '/', 5, (3/5), '나눗셈'))

# f'~~'이용 변수명을 그대로 대입
a=3
b=5
print(f'{a}+{b}={a+b}')

현재 온도는 18도 입니다
현재 온도는 18도 입니다. 오늘 날씨는 맑음입니다.
나눗셈의 결과: 3 / 5 = 0.60
나눗셈의 결과: 3 / 5 = 0.6
나눗셈의 결과: 3 / 5 = 0.6
*******나눗셈의 결과: 3 / 5 = 0.60
3+5=8

In [51]:
print(id(10))
print(id(11))
print(id(10))
i=10
print(id(i))

2828751301200
2828751301232
2828751301200
2828751301200

### 3) bool

In [47]:
print(bool(0.5), bool(-2), bool(0))   # 숫자는 0일때만 False
print(bool('a'), bool(' '), bool(''))  # 문자는 아무것도 없을때만 False
i= None  # 아무 주소도 참조하고 있지 않다.

True True False
True True False

## 3. 집합(군집, 묶음) 자료형 (p.58)

- 여러개의 데이터를 모아서 저장. 수정 가능.
    - list(p.63)
    - tuple
    - dict
    - set

### 1) list

- "[ ]" 사용
- 임의의 객체를 **순차적**으로 저장하는 집합적 자료형 (Sequence Data)
- 인덱스 사용 가능 
- mutable. 수정 가능

In [60]:
a= 10
b= 11
c= 12

a, b, c= 10, 11, 12   # 파이썬만 가능
print(a)
print(b)
print(c)

10
11
12

In [59]:
# 여러 자료형을 묶을 수 있다

b= ['james', 178, 68.9, True]
print(b)
print(type(b))

['james', 178, 68.9, True]
<class 'list'>

In [65]:
a= [1, 2, [3, 4, 5]]
print(a)
print(a[2])
print(a[2][-1])

[1, 2, [3, 4, 5]]
[3, 4, 5]
5

In [66]:
# 얕은 복사(swallow copy), 깊은 복사(deep copy)  p.68

a= [1,2,3,4,5]
print(a)

b= a  # b가 a의 주소 복사 (얕은 복사)
b[0]= 100   # b를 변경했을 때 a도 변경됨
print(a)

c= a[:]  # 슬라이싱 (깊은 복사)
c[0]= 1000
print(a)

d= a.copy()  # 깊은 복사
d[3]= 100
print(a)

[1, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]
[100, 2, 3, 4, 5]

In [69]:
# 리스트 생성

# 선언
a= []
a= list()

# 초기화
a= list([1,2,3,4])
a= list("10")    # 문자열은 그 자체로 리스트
print(a)
print(list(range(10)))   # 0부터 시작이면 시작 생략 가능

['1', '0']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [89]:
# 연산 기능 없음
a= [1,2,3]
b= [4,5,6]

print(a+b)  # 덧셈이 아닌 연결
print(a*3)  # 곱셈이 아닌 반복

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [76]:
# 정렬 기능
a=[4,2,3,1]

sorted(a)  # 원본은 수정되지 않음. 변수에 저장해야함
print(a)

a.sort()   # 원본이 바뀜
print(a)  

a.reverse()
print(a)

[4, 2, 3, 1]
[1, 2, 3, 4]
[4, 3, 2, 1]

### 추가: insert(), append(), extend()

append는 추가되는 리스트 그 자체를 하나로 추가, 

extend는 이터러블(리스트, 딕셔너리, 세트, 문자열, 튜플)의 요소들을 풀어서 추가

In [2]:
# 추가하기: insert(), append(), extend()
a=[1,2,3]

a.insert(1, 1.5) # 원하는 위치에 값 추가
print(a)

a.append(4)  # 맨 뒤에 추가
print(a)

a.append([5,6]) # 리스트 그대로
print(a)

a.extend([8,9])  # 항상 대괄호로 묶어야 함
print(a)

a.extend('hi')
print(a)

[1, 1.5, 2, 3]
[1, 1.5, 2, 3, 4]
[1, 1.5, 2, 3, 4, [5, 6]]
[1, 1.5, 2, 3, 4, [5, 6], 8, 9]
[1, 1.5, 2, 3, 4, [5, 6], 8, 9, 'h', 'i']

### 삭제: remove()

In [83]:
# 제거 
a= [1,2,3,1,2,3]

# 범위를 지정 (slicing)해서 제거
a[1:3]= []
print(a)

# 값을 찾아서 삭제
a.remove(3)
print(a)

# del. 인덱스로 접근
del a[2]
print(a)

del a[0:1]

del a # 변수 자체 삭제

[1, 1, 2, 3]
[1, 1, 2]
[1, 1]

In [ ]:
# stack: 데이터를 임시로 저장하는 용도  LIFO (push, pop) p.70
# queue: stack과 동일. FIFO
# heqp:데이터를 꾸준하게, 안전하게 보관

In [85]:
# stack   삭제: pop() 추가: push()

a= [10, 20, 30]
b= a.pop()  # 값을 꺼내서 쓰기 위한 삭제
print(a)
print(b)

[10, 20]
30

In [87]:
# 검색 기능: index()
a= [1,2,3,4,5]

print(a.index(4))  #특정 값의 위치 인덱스 검색. 4의 위치가 3이다.

3

### 2) tuple
- "( )" 사용
- immutable

In [90]:
# immutable
a= (1,2,3,4,5)
print(a)
print(type(a))

b= list(a)
b[1]= 7
print(b)

c= tuple(b)
print(c)

# 변수는 여러개 만들어도 상관없음. 데이터가 메모리 차지.
# 변경하고싶을 때는 리스트로 변환

(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 7, 3, 4, 5]
(1, 7, 3, 4, 5)

In [94]:
# Packing & Unpaking  튜플에만 존재

a= 10,20,30       #packing
print(type(a))

a1, a2, a3= a      #unpacking
print(a1,a2,a3)

<class 'tuple'>
10 20 30

### 3) dict  json과 동일
- 순서가 없다.= index 사용불가
- 키(key)를 이용해서 접근
- { 키:값 }. 데이터 검색의 용도

In [96]:
a= {'name':'홍길동', 'tel':'111-111', 'age':'20'}
print(type(a))

<class 'dict'>

In [98]:
print(a['name'])

홍길동

In [101]:
print(a.keys())   # 키만 리스트로
print(a.values()) # 값만 리스트로
print(a.items()) # 키와 값을 묶은 튜플을 리스트로

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-111', '20'])
dict_items([('name', '홍길동'), ('tel', '111-111'), ('age', '20')])

In [102]:
# 수정
a['name']= '뉴진스'
print(a)

{'name': '뉴진스', 'tel': '111-111', 'age': '20'}

In [104]:
# 추가
a['song']= ['하입보이','쿠키']
print(a)

{'name': '뉴진스', 'tel': '111-111', 'age': '20', 'song': ['하입보이', '쿠키']}

In [105]:
# 삭제
del a['tel']
print(a)

clear(a) # 전체 삭제

{'name': '뉴진스', 'age': '20', 'song': ['하입보이', '쿠키']}

In [109]:
# 데이터 가져오기

print(a['name'])
print(a.get('hobby','독서')) # 가져오려는 키가 없을 때 default를 지정할 수 있다.

뉴진스
독서

### 4) set
- "{ }" 사용
- 순서가 없다. index 불가
- 중복 불가. filtering

In [111]:
a= {1,3,5,2,4,3,1}
print(a)
print(type(a))

{1, 2, 3, 4, 5}
<class 'set'>

In [112]:
b= list(a)  # 인덱스 쓰려면 리스트로 변경
print(b[0])

1

In [114]:
a= [1,2,3,2,4,1]  # 중복인 리스트를 set으로 변경하여 중복 제거
print(a)
b= set(a)
a= list(b)
print(a)

[1, 2, 3, 2, 4, 1]
[1, 2, 3, 4]

## 4. 연산자
### 1) 치환(할당) 연산자 p.51
- 복합 치환 연산자: +=, -=, *=, /=

In [5]:
a= 10
a += 3
a += 2
print(a)

15

### 2) 검색 연산자: in

In [6]:
a=[1,2,3,4,5]

print(a.index(4))   # 4의 위치 인덱스 반환
print(4 in a)    # a에 4가 있는지
print(7 not in a)

3
True
True