## 1. 입력 기능

In [1]:
name= input('당신의 이름은?')
print('안녕하세요 {}님'.format(name))

당신의 이름은?뉴진스
안녕하세요 뉴진스님

In [3]:
num1= int(input("숫자 입력: "))
num2= int(input("숫자 입력: "))

print('결과= {}'.format(num1 + num2))

숫자 입력: 1
숫자 입력: 2
결과= 3

## 2. 조건문
- 형식
    
    if 조건식:
        문장
        ...
        pass
    elif 조건식:
        ...
    [ else:
        ...]
        
    if 조건식: 문장   <- 한줄인 경우

In [8]:
num= int(input('숫자 입력: '))

if(num%2==0): print('짝수') 
else: print('홀수')

숫자 입력: 3
홀수

In [10]:
i= input('입력값:')
if i in ['a','b','c','d']: print('정답')
else: print('오답')

입력값:w
오답

In [66]:
op= input('연산자: ')
num1= int(input('num1: '))
num2= int(input('num2: '))
if op=='+': print(f'결과: {num1}{op}{num2}= {num1+num2}')
elif op=='-': print('결과: {}{}{}= {}'.format(num1, op, num2, num1 - num2))
elif op=='*': print('결과: {}{}{}= {}'.format(num1, op, num2, num1 * num2))
elif op=='/': print('결과: {}{}{}= {}'.format(num1, op, num2, num1 / num2))
    
    
# op= input('연산자: ')
# num1= int(input('num1: '))
# num2= int(input('num2: '))

# # 중복되는 코드 줄이기
# if op == '+':
#     ans= num1+num2
# elif op =='-':
#     ams= num1-num2
# elif op =='*':
#     ans= num1*num2
# elif op =='/':
#     ans= num1/num2
    
# print('결과: {}{}{}= {}'.format(num1, op, num2, ans))

연산자: +
num1: 3
num2: 5
결과: 3+5= 8

- 중첩 if문

In [18]:
# 최대값 찾기

a,b,c= 3,9,5

if a>b:
    if a>c:
        print('a가 최대')
    else:
        print('c가 최대')
else:
    if b>c:
        print('b가 최대')
    else:
        print('c가 최대')

b가 최대

In [19]:
id= input('ID: ')    # id: tiger
pw= input('PW: ')    # pw: 1111

if id!= 'tiger':
    if pw != '1111':
        print('id와 pw 틀림')
    else:
        print('id 틀림')
else:
    if pw != '1111':
        print('pw 틀림')
    else: 
        print('로그인 성공')

ID: tiger
PW: 1111
로그인 성공

- 삼항 연산자 p.86

    < 참일때 결과 > <if 조건문 > < else 거짓일 때 결과 >

In [155]:
# 가위 바위 보 게임
import random
win, lose, same=0,0,0

while True:
    me= input('"가위", "바위", "보" 중에서 하나를 입력하세요: ')
    if me in ['x','q']: 
        print(f'{same}무 {win}승 {lose}패')
        break
        
    rand= random.randint(0,2)
    if rand==0: com= '가위'
    elif rand==1: com= '바위'
    else: com= '보'

    if me not in ['가위', '바위', '보']: print('잘못 입력하였습니다\n')

    else:
        if me== '가위':
            if com=='가위': result= 'same'
            elif com=='바위': result= 'lose'
            elif com=='보': result= 'win'
        elif me=='바위':
            if com=='가위': result= 'win'
            elif com=='바위': result= 'same'
            elif com=='보': result= 'lose'
        elif me=='보':
            if com=='가위': result= 'lose'
            elif com=='바위': result= 'win'
            elif com=='보': result= 'same'        
        
        if result=='same': same+=1
        elif result=='win': win +=1
        elif result=='lose': lose+=1

        print('컴퓨터:',com)
        print('나:',me)
        print('결과:',result)
        print('')

"가위", "바위", "보" 중에서 하나를 입력하세요: 가ㅜ이
잘못 입력하였습니다
"가위", "바위", "보" 중에서 하나를 입력하세요: 가위
컴퓨터: 바위
나: 가위
결과: lose

"가위", "바위", "보" 중에서 하나를 입력하세요: 바위
컴퓨터: 가위
나: 바위
결과: win

"가위", "바위", "보" 중에서 하나를 입력하세요: 보
컴퓨터: 보
나: 보
결과: same

"가위", "바위", "보" 중에서 하나를 입력하세요: 가위
컴퓨터: 바위
나: 가위
결과: lose

"가위", "바위", "보" 중에서 하나를 입력하세요: 바보
잘못 입력하였습니다
"가위", "바위", "보" 중에서 하나를 입력하세요: 보
컴퓨터: 가위
나: 보
결과: lose

"가위", "바위", "보" 중에서 하나를 입력하세요: z
잘못 입력하였습니다
"가위", "바위", "보" 중에서 하나를 입력하세요: x
1무 1승 3패

## 3. 반복문
- while
- for

주의: 무한 반복, 반복 횟수 ==> 초기화, 조건식, 카운팅 주의!!

### 1) while
        while 조건식:
            참인 경우

In [48]:
cnt=0
while cnt <3:
    print('*',end='')    # end='\n' 가 defualt
    cnt += 1

***

In [49]:
cnt=0
sum=1

while cnt < 10:
    sum *= 2
    cnt += 1
print(sum)

1024

## 2) for
쓰고자하는 데이터가 있으면 for이 편하다
    
       for 변수 in 집합자료형:
           실행
           ...

In [50]:
for i in range(10):
    print('*',end='')
    
# while문보다 효율 떨어짐

**********

In [54]:
data= [8,5,6,7,9]
sum=0
for i in data:
    sum+= i
print(sum)

sum=0
cnt=0
while cnt<len(data):
    sum +=data[cnt]
    cnt+=1
print(sum)

35
35

In [55]:
data= ['banana','bravo','golf','piano','chart','integer','good','sort']

for i in data:
    if len(i)==4:
        print(i)

golf
good
sort

In [64]:
# data.sort()

data= [15,8,5,6,10,20,7,9]
max=data[0]

for i in data:
    if i>= max:
        max=i

print(max)

20
[15, 8, 5, 6, 10, 20, 7, 9]

In [59]:
# FizzBuzz
# 3의 배수는 fizz
# 5의 배수는 buzz
# 3의 배수면서 5의 배수는 fizzbuzz

for i in range(1,100):
    if i%3==0:
        if i%5==0:
            print('fizzbuzz')
        else:
            print('fizz')
    elif i%5==0:
            print('buzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizzbuzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizzbuzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizzbuzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizzbuzz
91
92
fizz
94
buzz
fizz
97
98
fizz

### 3) 반복문 강제 종료

- break: 완전 종료
- continue: 다음으로 넘어가기

In [71]:
# break: 반복문 완전 벗어남. 1,4,1,4,1,4,1,2,3,break 
for i in range(5):
    if i==3: 
        break
    print(i)

0
1
2

In [72]:
# continue: 다음으로 넘어가기. 1,4,1,4,1,4,1,2,3,1,4
for i in range(5):
    if i==3: 
        continue        
    print(i)

0
1
2
4

### 4) 반복문의 중첩

In [99]:
for i in range(1,6):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****
*****

In [157]:
for i in range(1,6):
    print('*'*i,end='')
    print()

*
**
***
****
*****

In [158]:
'''
    *
   ***
  *****
 *******
*********
'''

for i in range(6):
    print(' '*(6-i),end='')
    print('*'*(2*i-1),end='')
    print()
    
for i in range(6):
    for j in range(6-i):
        print(' ',end='')
    for j in range(2*i-1):
        print('*',end='')
    print()

     *
    ***
   *****
  *******
 *********

     *
    ***
   *****
  *******
 *********

In [120]:
for i in range(10):
    if i%2!=0:
        for j in range(i):
            print(' '*i,end='')
            print('*',end='')
    print()

 *

   *   *   *

     *     *     *     *     *

       *       *       *       *       *       *       *

         *         *         *         *         *         *         *         *         *

In [73]:
while True:
    op= input('연산자: ')
    if op=='x': break
        
    num1= int(input('num1: '))
    num2= int(input('num2: '))
    if op=='+': print(f'결과: {num1}{op}{num2}= {num1+num2}')
    elif op=='-': print('결과: {}{}{}= {}'.format(num1, op, num2, num1 - num2))
    elif op=='*': print('결과: {}{}{}= {}'.format(num1, op, num2, num1 * num2))
    elif op=='/': print('결과: {}{}{}= {}'.format(num1, op, num2, num1 / num2))

연산자: x

In [15]:
#2. 가위 바위 보 게임 x나 q 종료 n승 n패
import random
def playgame():
    win, lose, same=0,0,0
    while True:
        me= input('"가위", "바위", "보" 중에서 하나를 입력하세요: ')
        if me in ['x','q']: 
            print(f'{same}무 {win}승 {lose}패')
            break

        rand= random.randint(0,2)
        if rand==0: com= '가위'
        elif rand==1: com= '바위'
        else: com= '보'

        if me not in ['가위', '바위', '보']: 
            print('잘못 입력하였습니다')
            continue

        elif me == com:
            result= 'same' #왜안돼?!!
            same +=1
        else:
            if me== '가위':
                if com=='바위': 
                    result= 'lose'
                    lose += 1
                elif com=='보': 
                    result= 'win'
                    win +=1
            elif me=='바위':
                if com=='가위': 
                    result= 'win'
                    win +=1
                elif com=='보': 
                    result= 'lose'
                    lose += 1
            elif me=='보':
                if com=='가위': 
                    result= 'lose'
                    lose += 1
                elif com=='바위': 
                    result= 'win'
                    win +=1
        print('컴퓨터:',com)
        print('나:',me)
        print('결과:',result,'\n')

In [143]:
#3. 숫자를 입력받아 짝수의 합과 홀수의 합을 출력. 0을 입력하면 종료

odd, eve, i=0,0,0

while True:
    i+= 1
    num= int(input(f'숫자{i}: '))
    if num== 0:break
    elif num%2==0: eve +=num
    elif num%2 ==1: odd +=num
    print()
    
print(f'홀수:{odd}, 짝수:{eve}')

숫자1: 1

숫자2: 6

숫자3: 5

숫자4: 3

숫자5: 2

숫자6: 7

숫자7: 0
홀수:16, 짝수:8

In [142]:
#4. 숫자맞추기 1~100. 힌트 세분화. 총 시도 횟수
import random
ans= random.randint(1,10)
total=0

while True:
    num= int(input('숫자:'))
    if ans> num: print('higher')
    elif ans<num: print('lower')
    elif ans==num: 
        print('정답입니다')
        break
    total+=1
    print()
    
print(f'총 시도 횟수:{total}')

숫자:1
higher

숫자:9
lower

숫자:2
higher

숫자:5
정답입니다
총 시도 횟수:3

In [146]:
#5. 5개 입력받아 최대, 최소 구하기
nlist=[]
for i in range(5):
    nlist.append(int(input('숫자를 입력하세요:')))

max= nlist[0]
min= nlist[0]

for i in nlist:
    if max< i:
        max=i
for i in nlist:
    if min> i:
        min=i
        
print(f'최소: {min}, 최대: {max}')

숫자를 입력하세요:24
숫자를 입력하세요:53
숫자를 입력하세요:86
숫자를 입력하세요:12
숫자를 입력하세요:89
최소12, 최대89

In [149]:
#고객관리

print('친구 관리 프로그램')
print('==========================')
nlist=[]

while True:
    print('1. 친구 리스트 출력')
    print('2. 친구 추가')
    print('3. 친구 삭제')
    print('4. 이름 변경')
    print('9. 종료')
    num= int(input('메뉴를 선택: '))
    
    if num==1:
        print(nlist)
    if num==2:
        name= input('이름을 선택: ')
        nlist.append(name)
    if num==3:
        name= input('삭제할 이름 입력: ')
        nlist.remove(name)
    if num==4:
        name= input('변경할 이름 선택: ')
        nlist.remove(name)
        newname= input('변경하고 싶은 이름 입력: ')
        nlist.append(newname)
    if num==9:
        print('종료')
        break
    print('------------------')

친구 관리 프로그램
==========================
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 2
이름을 선택: 임꺽정
------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 1
['임꺽정']
------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 2
이름을 선택: 홍길동
------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 4
변경할 이름 선택: 홍길동
변경하고 싶은 이름 입력: 홍길순
------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 1
['임꺽정', '홍길순']
------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 3
삭제할 이름 입력: 홍길순
------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 1
['임꺽정']
------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 선택: 9
종료

In [ ]:
import random

data = ['가위','바위','보']
while True: 
    computer_index = random.randint(0,2)
    computer_data = data[computer_index]

    user_data = input("\n(\"가위\",\"바위\",\"보\") 중에서 하나를 입력: ")
    user_index = data.index(user_data)
    result = "의 패배입니다"

    if computer_data == user_data : result = "과 비겼습니다"
    else : 
        if computer_data == '가위' and user_data == '바위' : result = "의 승리입니다"
        elif computer_data == '바위' and user_data == '보' : result = "의 승리입니다"
        elif computer_data == '보' and user_data == '가위' :result = "의 승리입니다"

    print("컴퓨터는 \"{}\"를 선택하였습니다 결과는 당신{}".format(computer_data, result))

In [4]:
custom_list=[]

while True:
    print('''
    친구 관리 프로그램
    ====================

    1.친구 리스트 출력
    2.친구 추가
    3.친구 삭제
    4.이름 변경
    9.종료
    ''')

    no= input('메뉴를 선택: ')

    if no=='9':                     #case문으로 처리 가능할듯?
        break
        
    if no=='2':
        custom_list.append(input('추가할 이름을 입력: '))
        
    if no=='1':
        print('고객 리스트:', custom_list)
        
    if no=='3':
        custom_list.remove(input('삭제할 이름: '))
        
    if no=='4':
        name= input('변경할 이름 입력: ')
        for i in range(len(custom_list)):      #리스트 개수만큼 반복. i= 인덱스
            if custom_list[i]== name:
                custom_list[i]= input('변경하고 싶은 이름 입력: ')
                break
            
#         i= custom_list.index(input('변경할 이름 입력: '))
#         custom_list[i]= input('변경하고 싶은 이름 입력: ')

    친구 관리 프로그램
    ====================

    1.친구 리스트 출력
    2.친구 추가
    3.친구 삭제
    4.이름 변경
    9.종료

메뉴를 선택: 1

    친구 관리 프로그램
    ====================

    1.친구 리스트 출력
    2.친구 추가
    3.친구 삭제
    4.이름 변경
    9.종료

메뉴를 선택: 2

    친구 관리 프로그램
    ====================

    1.친구 리스트 출력
    2.친구 추가
    3.친구 삭제
    4.이름 변경
    9.종료

메뉴를 선택: 3

    친구 관리 프로그램
    ====================

    1.친구 리스트 출력
    2.친구 추가
    3.친구 삭제
    4.이름 변경
    9.종료

메뉴를 선택: 9

In [5]:
a=[1,2,3,4,5]
a.index(5)

4

### 5. List Comprehension: 리스트 안에 반복문, 조건문


[설명](https://velog.io/@mttw2820/List-Comprehension-%EB%AC%B8%EB%B2%95-%EC%A0%95%EB%A6%AC#%EC%A4%91%EC%B2%A9-list-comprehension)

In [9]:
# [0~9]

result=[]
for i in range(10):
    result.append(i)
    
# [append할것 for 반복문]    

result= [i for i in range(10)]
result

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# [짝수만 추가]

result=[]
for i in range(10):
    if i%2==0:
        result.append(i)

# 삼항연산자

result= [i for i in range(10) if i%2==0]
result

[0, 2, 4, 6, 8]

In [10]:
c1= ['a','b','c']
c2= ['d','e','a']

In [14]:
c3=[]
for i in c1:
    for j in c2:
        c3.append(i+j)

print(c3)

['ad', 'ae', 'aa', 'bd', 'be', 'ba', 'cd', 'ce', 'ca']

In [17]:
c3=[i+j for i in c1 for j in c2]
c3

['ad', 'ae', 'aa', 'bd', 'be', 'ba', 'cd', 'ce', 'ca']

In [20]:
# ['ad', 'ae', 'bd', 'be', 'ba', 'cd', 'ce', 'ca'] 중복 문자 제거
c3=[]
for i in c1:
    for j in c2:
        if i!=j:
            c3.append(i+j)

print(c3)

['ad', 'ae', 'bd', 'be', 'ba', 'cd', 'ce', 'ca']

In [21]:
c3=[i+j for i in c1 for j in c2 if i!=j]
c3

['ad', 'ae', 'bd', 'be', 'ba', 'cd', 'ce', 'ca']

In [46]:
# [['ad', 'ae', 'aa'], ['bd', 'be', 'ba'], ['cd', 'ce', 'ca']]
c4=[]
for i in c1:
    c3=[]
    for j in c2:
        c3.append(i+j)
    c4.append(c3)
    
print(c4)

[['ad', 'ae', 'aa'], ['bd', 'be', 'ba'], ['cd', 'ce', 'ca']]

In [56]:
# c4=[c3 for i in c1 c3=[i+j for j in c2]]

c4=[[i+j for j in c2] for i in c1]
c4

[['ad', 'ae', 'aa'], ['bd', 'be', 'ba'], ['cd', 'ce', 'ca']]

In [74]:
# 문자열 함수 split(), upper(), lower(), len()
words= 'Some Where Over the Rainbow way up high'

# '''
# ['SOME','some',4]
# '''

def trans(word):
    return [word.upper(),word.lower(),len(word)]
    
result=[]
word_list= words.split()
for word in word_list:
    result.append(trans(word))
   
    
c6=[(word.upper(), word.lower(), len(word)) for word in word_list]
c5=[trans(word) for word in words.split()]   
print('c5: ',c5)
print(c6)

c5:  [['SOME', 'some', 4], ['WHERE', 'where', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['RAINBOW', 'rainbow', 7], ['WAY', 'way', 3], ['UP', 'up', 2], ['HIGH', 'high', 4]]
[('SOME', 'some', 4), ('WHERE', 'where', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('RAINBOW', 'rainbow', 7), ('WAY', 'way', 3), ('UP', 'up', 2), ('HIGH', 'high', 4)]

In [ ]:
print([])